html
{
	position: relative;
	min-height: 100%;
}

body
{
	font-family: Segoe UI Light, Trebuchet MS;
	margin: 0 0 100px;
}

select, input:not([type=text])
{
	font-size: 13px;
	height: 27px;
}
input[type=text] { height: 21px; }
input[type=submit], input[type=button]
{
	border: none;
	font-family: Segoe UI Light, Trebuchet MS;
	font-weight: bold;
}
input[type=button], input[type=submit] { background-color: lightgrey; }
input[type=button]:hover, input[type=submit]:hover { background-color: grey; }
input[type=button]:active, input[type=submit]:active
{
	background-color: black;
	color: white;
}

#pageheader
{
	top: 0;
	left: 0;
	right: 0;
	background-color: lightgrey;
	padding: 1px 10px 8px 10px;
	text-align: center;
	margin-bottom: 10px;
}
header a, nav a { text-decoration: none; }
.vr
{
	vertical-align: middle;
	display: inline-block;
	border-left: thin black solid;
	height: 80px;
	animation: ColourChange 20s infinite;
}
.logo
{
	vertical-align: middle;
	height: 90px;
	width: auto;
}
@keyframes ColourChange
{
	0%  { border-color: crimson; }
	12% { border-color: brown; }
	25%  { border-color: yellow; }
	37% { border-color: purple; }
	50%  { border-color: blue; }
	62% { border-color: grey; }
	75%  { border-color: green; }
	87 % { border-color: red; }
	100% { border-color: crimson; }
}
.search
{
	margin-top: -33px;
	float: right;
	height: 0px; /* Does nothing render-wise but allows horizontal rule to extend all the way */
}
.profileheader
{
	margin-top: -120px;
	float: right;
}
.profileimage:hover
{
	transition: 200ms all;
	box-shadow: 0 0 0 15px rgba(173, 216, 230, 0.6), 0 0 0 20px rgba(144, 238, 144, 0.6), 0 0 0 25px rgba(238, 130, 238, 0.6);
}
.profileimage
{
	transition: 200ms all;
	border-radius: 100%;
	height: 30px;
	width: auto;
	vertical-align: middle;
}
.profileheader
{
	direction: rtl;
	text-align: left;
	font-size: 14px;
}
.profileheader > a { font-size: 12px; }

#pageheader > nav
{
	margin-top: -45px;
	text-align: left;
	float: left;
}
nav img
{
	padding: 5px;
	height: 30px;
	width: 30px;
	transition: 100ms transform;
}
@keyframes BackgroundColourChange
{
	0%  { background-color: aqua; }
	12% { background-color: hotpink; }
	25%  { background-color: chartreuse ; }
	37% { background-color: slateblue ; }
	50%  { background-color: teal; }
	62% { background-color: tomato; }
	75%  { background-color: yellowgreen; }
	87 % { background-color: gold; }
	100% { background-color: aqua; }
}
nav img.home { background-color: crimson; }
nav img.addnew { background-color: chartreuse ; }
nav img.edit { background-color: pink; }
nav img.download { animation: BackgroundColourChange 20s infinite; }
nav img.review { background-color: skyblue; }
nav img.rate { background-color: yellow; }
nav img.favourite { background-color: green; }
nav img.report { background-color: red; }
nav img.github { background-color: mediumorchid; }
nav img:hover { outline: grey 2px solid; }
nav img:active { transform: scale(0.95); }

.boundedbox
{
	background-color: white;	
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.boundedbox.condensedplugin
{
	padding: 20px;
	margin: 5px 5px;
	display: flex;
	flex-wrap: nowrap;	
	min-width: 150px;
	max-width: 250px;
	animation: CondensedEntryDisplay 300ms;
	transition: transform 100ms;
}
.boundedbox.condensedplugin > img
{
	margin-right: 2px;
	background-color: white;
	width: 60px;
	height: 60px;
}
.boundedbox.condensedplugin > figcaption
{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
	font-size: 14px;
	margin-left: 10px;
}
.boundedbox.expandedplugin
{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	border: black solid thin;
	border-radius: 3px;
	width: 68%;
	margin-bottom: 5px;
	padding: 15px;
}
.boundedbox.expandedplugin > header
{
	display: flex;
	outline: 15px black solid;
	margin-bottom: 25px;
}
.boundedbox.expandedplugin > header > nav
{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-content: flex-start;
	width: 200px;
}
.boundedbox.expandedplugin > header > nav > div
{
	width: 100%;
}
.boundedbox.expandedplugin > header > nav > hr
{
	width: 100%;
	border: thin solid black;
	background-color: black; /* <hr> elements have a centre bit which needs separate styling */
}
.boundedbox.expandedplugin > header > nav > figure
{
	margin: 0 5px 5px 0;
}
.boundedbox.expandedplugin > header > nav > figure > figcaption
{
	vertical-align: middle;
	display: inline-block;
}
.boundedbox.expandedplugin > header > nav > figure > a > img
{
	vertical-align: middle;
}
.boundedbox.expandedplugin > header > figure
{
	margin: 0 auto 0 0;
}
.boundedbox.expandedplugin > header > figure > img
{
	width: 150px;
	height: 150px;
	background-color: white;
}
.boundedbox.expandedplugin > header > figure > figcaption
{
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
}
.boundedbox.expandedplugin > table
{	
	border-collapse: collapse;
	border-spacing: 0px;
}
.boundedbox.expandedplugin > table th, .boundedbox.expandedplugin > table td
{
	border: 1px solid #DDD;
	padding: 6px 13px;	
}
.boundedbox.expandedplugin > form > p
{
	margin: 0px;
}
.boundedbox.expandedplugin > form > input[type=radio] { vertical-align: middle; margin-top: -1px; }
.boundedbox.expandedplugin > form > input[type=submit] { margin: 15px 0px; }
.boundedbox.expandedplugin > form > input[name*=Delete] { background-color: red; }
.boundedbox.expandedplugin > form > input[name*=Delete]:hover { background-color: firebrick; }
.boundedbox.expandedplugin > form > input[name*=Delete]:active { background-color: darkred; }

#content article:nth-of-type(2) { animation: ExpandedEntryDisplay 800ms; }
#content article:nth-of-type(2) :first-child > hr { display: none; }
#content article:nth-of-type(1)  { animation: ExpandedEntryDisplay 500ms; }

@keyframes ExpandedEntryDisplay
{
	from
	{
		opacity: 0;
		transform: translateX(20px);
	}
	to
	{
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes CondensedEntryDisplay
{
	from
	{
		opacity: 0;
		transform: scale(1.1);
	}
	to
	{
		opacity: 1;
	transform: scale(1);
	}
}
.boundedbox.condensedplugin:hover
{
	outline: lightgrey solid 3px;
}
.boundedbox.condensedplugin:active { transform: scale(0.95); }

.boundedbox.screenshot
{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
}

.errormessage.greyout
{
	display: table;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(80, 80, 80, 0.6);
	animation: ErrorGreyoutFadein 300ms;
}
.errormessage.messagestrip
{
	display: table-cell;
	vertical-align: middle;
}
.errormessage.message
{
	padding-top: 5px;
	padding-bottom: 35px;
	width: 100%;
	color: white;
}
.errormessage.message.error { background-color: crimson; }
.errormessage.message.info { background-color: green; }
.errormessage.message.form { background-color: chocolate; }
.errormessage h1, .errormessage p, .errormessage form
{
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}
.errormessage > form > img
{
	height: auto;
	margin: 20px 20px 0px 0px;
}
.errormessage > form > div.input > label
{
	display: block;
	padding-top: 4px;
}
.errormessage > form > div.input
{
	width: 370px;
	display: inline-block;
	vertical-align: middle;
}
.errormessage > form > div.input > input:not([type=submit]):not([type=button])
{
	width: 100%;
	font-size: 16px;
}
.errormessage > form > div.submit
{
	text-align: right;
	margin-bottom: -20px;
}
.errormessage > form > div.submit > input[type=submit], .errormessage > form > div.submit > input[type=button]
{
	height: 33px;
	width: 80px;
	margin-left: 10px;
	border: 2px solid white;
}
.errormessage > form > div.submit > input[type=button] { color: white; background-color: transparent; }
.errormessage > form > div.submit > input[type=button]:hover { background-color: rgba(80, 80, 80, 0.2); }
.errormessage > form > div.submit > input[type=button]:active { color: black; background-color: white; }
.errormessage > form > div.submit > input[type=submit] { color: white; background-color: royalblue; }
.errormessage > form > div.submit > input[type=submit]:hover { background-color: steelblue; }
.errormessage > form > div.submit > input[type=submit]:active {	background-color: white; color: black; }
.spinner
{
	width: 20px;
	height: auto;
	margin-right: 10px;
	vertical-align: middle;
	margin-left: -27px;
}
@keyframes ErrorGreyoutFadein
{
	from { opacity: 0; }
	to   { opacity: 1; }
}

.bss-slides
{
	position: relative;
	display: block;
	background-color: lightgrey;
	text-align: center;
	padding-bottom: 10px;
	max-height: 600px; /** A limit for the automatic adjustment done by the slideshow JavaScript */
	transition: 300ms all;
}
.bss-slides figure img
{
	opacity: 0;
	transition: all 300ms;
	max-width: 95%;
	max-height: 600px;
	height: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}
.bss-next, .bss-prev
{
	color: #fff;
	position: absolute;
	background: rgba(0,0,0,.6);
	top: 50%;
	z-index: 1;
	font-size: 2em;
	margin-top: -1.2em;
	opacity: .3;
	transition: all 300ms;
}
.bss-next:hover,.bss-prev:hover
{
	cursor: pointer;
	opacity: 1;
	transition: all 300ms;
}
.bss-next
{
	right: -1px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	padding: 10px 5px 15px 10px;
}
.bss-prev
{
	left: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	padding: 10px 10px 15px 5px;
}

@media all and (max-width: 580px)
{
	.profileheader { margin-top: -40px; }
	.profileimage { height: 30px; }
	.logo { height: 30px; }
	.vr { height: 20px; }
	.search
	{
		float: none;
		margin: 0 auto;
		margin-top: 20px;
	}
	#pageheader > h1 { font-size: 15px; }
	#pageheader > hr { margin-top: 30px; }
	#pageheader > nav { margin-top: -40px; }
	#pageheader > nav img { padding: 0px; }
}
@media all and (max-width: 375px)
{
	.profileheader { margin-top: 0px; }
	#pageheader > nav { margin-top: 0px; }
	#pageheader > hr { margin-top: 30px; }
	.search { margin-top: 60px; }
}
@media all and (max-width: 361px)
{
	#pageheader > hr { margin-top: 57px; }
}

#footer
{
	text-align: center;
	bottom: 0px;
	width: 100%;
	position: absolute;
	background-color: lightgrey;
}

#footer ul
{
	list-style: none;
	padding: 0px;
	margin: 0;
}

#footer li
{
	display: inline-block;
}

#footer a
{
	display: inline-block;
	margin: 0px;
	padding: 10px;
	text-decoration: none;
}
