html, body
{
	font-family: Segoe UI Light, Trebuchet MS;
	margin: 0;
	padding:0;
	height:100%;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#content {
	padding-bottom: 60px;
}

select, input:not([type=text])
{
	font-size: 13px;
	height: 27px;
}
input[type=text] { height: 21px; }
input[type=submit], input[type=button]
{
	border: none;
	font-family: Segoe UI Light, Trebuchet MS;
	font-weight: bold;
}
input[type=button], input[type=submit] { background-color: lightgrey; }
input[type=button]:hover, input[type=submit]:hover { background-color: grey; }
input[type=button]:active, input[type=submit]:active
{
	background-color: black;
	color: white;
}

header
{
	padding: 1px 10px 8px 10px;
	text-align: center;
	margin-bottom: 10px;
}

body { margin: 0; }
header
{
	top: 0;
	left: 0;
	right: 0;
	background-color: lightgrey;
}
header a, nav a { text-decoration: none; }
.vr
{
	vertical-align: middle;
	display: inline-block;
	border-left: thin black solid;
	height: 80px;
	animation: ColourChange 20s infinite;
}
.logo
{
	vertical-align: middle;
	height: 90px;
	width: auto;
}
@keyframes ColourChange
{
	0%  { border-color: crimson; }
	12% { border-color: brown; }
    25%  { border-color: yellow; }
	37% { border-color: purple; }
    50%  { border-color: blue; }
	62% { border-color: grey; }
    75%  { border-color: green; }
	87 % { border-color: red; }
    100% { border-color: crimson; }
}
.search
{
	margin-top: -33px;
	float: right;
	height: 0px; /* Does nothing render-wise but allows horizontal rule to extend all the way */
}
.profileheader
{
	margin-top: -120px;
	float: right;
}
.profileimage:hover
{
	transition: 200ms all;
	box-shadow: 0 0 0 15px rgba(173, 216, 230, 0.6), 0 0 0 20px rgba(144, 238, 144, 0.6), 0 0 0 25px rgba(238, 130, 238, 0.6);
}
.profileimage
{
	transition: 200ms all;
	border-radius: 100%;
	height: 30px;
	width: auto;
	vertical-align: middle;
}
.profileheader
{
	direction: rtl;
	text-align: left;
	font-size: 14px;
}
.profileheader > a { font-size: 12px; }

header > nav
{
	margin-top: -45px;
	text-align: left;
	float: left;
}
nav img
{
	padding: 5px;
	height: 30px;
	width: 30px;
	transition: 100ms transform;
}
@keyframes BackgroundColourChange
{
	0%  { background-color: aqua; }
	12% { background-color: hotpink; }
    25%  { background-color: chartreuse ; }
	37% { background-color: slateblue ; }
    50%  { background-color: teal; }
	62% { background-color: tomato; }
    75%  { background-color: yellowgreen; }
	87 % { background-color: gold; }
    100% { background-color: aqua; }
}
nav img.home { background-color: crimson; }
nav img.addnew { background-color: chartreuse ; }
nav img.edit { background-color: pink; }
nav img.download { animation: BackgroundColourChange 20s infinite; }
nav img.review { background-color: skyblue; }
nav img.rate { background-color: yellow; }
nav img.favourite { background-color: green; }
nav img.report { background-color: red; }
nav img:hover { outline: grey 2px solid; }
nav img:active { transform: scale(0.95); }

.boundedbox { background-color: white; }
.boundedbox.plugin
{
	padding: 0px 20px 0px 20px;
	margin: 0px auto;
}
.boundedbox.plugin.show
{
	border: black solid thin;
	border-radius: 3px;
	width: 68%;
	margin-bottom: 5px;
}
.boundedbox.plugin.show.commentbox { animation: ExpandedEntryDisplay 800ms; }
.boundedbox.plugin.show.commentbox p
{
	overflow: auto;
	font-size: 13px;
}
.boundedbox.plugin.show.commentbox :first-child > hr { display: none; }
.boundedbox.plugin.show.infobox { animation: ExpandedEntryDisplay 500ms; }
@keyframes ExpandedEntryDisplay
{
	from
	{
		opacity: 0;
		transform: translateX(20px);
	}
	to
	{
		transform: translateX(0);
		opacity: 1;
	}
}
.boundedbox.plugin.showcondensed
{
	display: inline-block;
	width: 35.55%;
	min-width: 150px;
	max-width: 250px;
	height: 60px;
	padding: 5px;
	animation: CondensedEntryDisplay 300ms;
	transition: transform 100ms;
}
@keyframes CondensedEntryDisplay
{
    from
	{
		opacity: 0;
        transform: scale(1.1);
    }
    to
	{
		opacity: 1;
        transform: scale(1);
    }
}
.boundedbox.plugin.showcondensed:hover
{
	margin: -1px;
	outline: lightgrey solid 3px;
	border: white solid thin;
}
.boundedbox.plugin.showcondensed:active { transform: scale(0.95); }
.boundedbox.plugin.showcondensed > a { color: inherit; }
.boundedbox.condensedicon.show
{
	width: 60px;
	height: 60px;
	float: left;
	pointer-events: none; /* Allow the parent division to receive a click event to perform animation */
}
.boundedbox.condensedicon.caption
{
	background-color: inherit;
	color: inherit;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding-left: 8px;
	font-family: Segoe UI Light, Trebuchet MS;
	text-align: left;
	pointer-events: none; /* Allow the parent division to receive a click event to perform animation */
}
.boundedbox.condensedicon.caption.description
{
	font-size: 14px;
	padding-left: 0;
}
.boundedbox.expandedicon.show
{
	width: 150px;
	height: 150px;
	padding: 20px 5px 0px 0px;
}
.boundedbox.expandedicon.caption
{
	display: inline-block;
	vertical-align: top;
	font-size: 14.5px;
}
.boundedbox.plugin.add
{
	animation-name: ColourChange, ExpandedEntryDisplay;
    animation-duration: 40s, 500ms;
    animation-iteration-count: infinite, initial;
	border: black solid thin;
	border-radius: 3px;
	width: 42%;
}
.boundedbox.plugin.add > form > p
{
	margin: 0px;
}
.boundedbox.plugin.add > form > input[type=radio] { vertical-align: middle; margin-top: -1px; }
.boundedbox.plugin.add > form > input[type=submit] { margin: 15px 0px; }
.boundedbox.plugin.add > form > input[name*=Delete] { background-color: red; }
.boundedbox.plugin.add > form > input[name*=Delete]:hover { background-color: firebrick; }
.boundedbox.plugin.add > form > input[name*=Delete]:active { background-color: darkred; }
.boundedbox > nav
{
	float: right;
	padding-top: 20px;
	width: 90px;
	text-align: right;
}
.boundedbox.screenshot
{
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
	border-radius: 5px;
}

.errormessage.greyout
{
	display: table;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(80, 80, 80, 0.6);
	animation: ErrorGreyoutFadein 300ms;
}
.errormessage.messagestrip
{
	display: table-cell;
	vertical-align: middle;
}
.errormessage.message
{
	padding-top: 5px;
	padding-bottom: 35px;
	width: 100%;
	color: white;
}
.errormessage.message.error { background-color: crimson; }
.errormessage.message.info { background-color: green; }
.errormessage.message.form { background-color: chocolate; }
.errormessage h1, .errormessage p, .errormessage form
{
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}
.errormessage > form > img
{
	height: auto;
	margin: 20px 20px 0px 0px;
}
.errormessage > form > div.input > label
{
	display: block;
	padding-top: 4px;
}
.errormessage > form > div.input
{
	width: 370px;
	display: inline-block;
	vertical-align: middle;
}
.errormessage > form > div.input > input:not([type=submit]):not([type=button])
{
	width: 100%;
	font-size: 16px;
}
.errormessage > form > div.submit
{
	text-align: right;
	margin-bottom: -20px;
}
.errormessage > form > div.submit > input[type=submit], .errormessage > form > div.submit > input[type=button]
{
	height: 33px;
	width: 80px;
	margin-left: 10px;
	border: 2px solid white;
}
.errormessage > form > div.submit > input[type=button] { color: white; background-color: transparent; }
.errormessage > form > div.submit > input[type=button]:hover { background-color: rgba(80, 80, 80, 0.2); }
.errormessage > form > div.submit > input[type=button]:active { color: black; background-color: white; }
.errormessage > form > div.submit > input[type=submit] { color: white; background-color: royalblue; }
.errormessage > form > div.submit > input[type=submit]:hover { background-color: steelblue; }
.errormessage > form > div.submit > input[type=submit]:active {	background-color: white; color: black; }
.spinner
{
	width: 20px;
	height: auto;
	margin-right: 10px;
	vertical-align: middle;
	margin-left: -27px;
}
@keyframes ErrorGreyoutFadein
{
	from { opacity: 0; }
	to   { opacity: 1; }
}

.bss-slides
{
	position: relative;
	display: block;
	background-color: lightgrey;
	text-align: center;
	padding-bottom: 10px;
	max-height: 600px; /** A limit for the automatic adjustment done by the slideshow JavaScript */
	transition: 300ms all;
}
.bss-slides figure img
{
	opacity: 0;
	transition: all 300ms;
	max-width: 95%;
	max-height: 600px;
	height: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}
.bss-next, .bss-prev
{
	color: #fff;
	position: absolute;
	background: rgba(0,0,0,.6);
	top: 50%;
	z-index: 1;
	font-size: 2em;
	margin-top: -1.2em;
	opacity: .3;
	transition: all 300ms;
}
.bss-next:hover,.bss-prev:hover
{
	cursor: pointer;
	opacity: 1;
	transition: all 300ms;
}
.bss-next
{
	right: -1px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	padding: 10px 5px 15px 10px;
}
.bss-prev
{
	left: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	padding: 10px 10px 15px 5px;
}

@media all and (max-width: 580px)
{
	.profileheader { margin-top: -40px; }
	.profileimage { height: 30px; }
	.logo { height: 30px; }
	.vr { height: 20px; }
	.search
	{
		float: none;
		margin: 0 auto;
		margin-top: 20px;
	}
	header > h1 { font-size: 15px; }
	header > hr { margin-top: 30px; }
	nav { margin-top: -40px; }
	nav img { padding: 0px; }
}
@media all and (max-width: 375px)
{
	.profileheader { margin-top: 0px; }
	nav { margin-top: 0px; }
	header > hr { margin-top: 30px; }
	.search { margin-top: 60px; }
}
@media all and (max-width: 361px)
{
	header > hr { margin-top: 57px; }
}

article table
{
	border-collapse: collapse;
	border-spacing: 0px;
}

article table *
{
	border: 1px solid #DDD;
	padding: 6px 13px;
}

#footer {
	text-align: center;
	width: 100%;
	height: 60px;
	position: absolute;
	bottom: 0;
	left: 0;
}

#footer ul {
	display: inline-block;
	list-style: none;
	margin-bottom: 8px;
	margin-top: 8px;
	padding: 0px;
	width: 100%;
	background-color: lightgrey;
}

#footer li {
	display: inline-block;
}

#footer a {
	display: inline-block;
	margin: 0px;
	padding: 10px;
	text-decoration: underline;
}

#footer a:link {color:  black;}
#footer a:visited {color: black;}
