<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Cuberite Plugins</title>
		<link type="text/css" href="/images/semantic.min.css" rel="stylesheet" />
		<link type="text/css" href="/images/stylesheet.css" rel="stylesheet" />
		<meta name="viewport" content="width=device-width" />

		{% block AdditionalHeadItems %}
		{% endblock %}
	</head>

	<body>
		{% include "Modules/Header.html" %}

		{% block MainContent %}
		{% endblock %}

		{% include "Modules/Footer.html" %}
	</body>
</html>