<a class="cuberite-condensed-plugin card" style="animation-duration: {{ random(100, 1000) }}ms" href="{{ constant('WebURI::Show') }}/{{ Plugin.RepositoryId }}">
	<figure class="content">
		<img class="ui right floated mini image" src="{{ Plugin.IconHyperlink }}" alt="{{ Plugin.RepositoryName }}" />
		<figcaption class="header">{{ Plugin.RepositoryName }}</figcaption>
		<div class="meta">{{ Plugin.DisplayName }}</div>

		{% if Plugin.RepositoryVersion == true %}
			<div class="ui floating label">v{{ Plugin.RepositoryVersion }}</div>
		{% endif %}

		{% if Plugin.Description == true %}
			<p class="description">
				{{ Plugin.Description }}
			</p>
		{% endif %}
	</figure>

	<div class="extra content">
		<span>
			<i class="comments icon"></i>
			{{ CommentCounts[Plugin.RepositoryId] ?? 'No' }} comments
		</span>
		<span class="right floated">
			<i class="cloud download icon"></i>
			{{ Plugin.DownloadCount }} downloads
		</span>
	</div>
</a>