<article class="ui cuberite-expanded-plugin two column stackable grid">
	<header class="row">
		<div class="twelve wide column">
			<h2 class="ui header">
				<img class="ui image" src="{{ Plugin.IconHyperlink }}" alt="{{ Plugin.RepositoryName }}" />
				<span class="content">
					{{ Plugin.RepositoryName }}
					<span class="sub header">
						<span class="ui horizontal bulleted list">
							<span class="item">{{ Plugin.DisplayName }}</span>
							<span class="item">@{{ Plugin.Login }}</span>
							<span class="item">Utilities</span>
						</span>
					</span>
				</span>
			</h2>

			{% if Plugin.Description == true %}
				<p>
					{{ Plugin.Description }}
				</p>
			{% endif %}

			<nav class="ui horizontal cuberite-expanded-plugin-metadata list">
				<div class="item" title="THE HUB OF GITS OH YEAAAH">
					<i class="github icon"></i>
					<a class="content" href="https://github.com/{{ Plugin.RepositoryFullName }}">View on GitHub</a>
				</div>
				{% if LoginDetails.User.Login == Plugin.Login %}
					<div class="item">
						<i class="pencil icon"></i>
						<a class="content" href="/edit/{{ Plugin.RepositoryId }}">Edit</a>
					</div>
				{% endif %}
				<div class="item">
					<i class="cloud download icon"></i>
					<span class="content">{{ Plugin.DownloadCount }} downloads</span>
				</div>
				{% if Plugin.License == true %}
					<div class="item">
						<i class="balance scale icon"></i>
						<span class="content">{{ Plugin.License }}</span>
					</div>
				{% endif %}
				{% if Plugin.RepositoryVersion == true %}
					<div class="item">
						<i class="tag icon"></i>
						<span class="content">v{{ Plugin.RepositoryVersion }}</span>
					</div>
				{% endif %}
			</nav>

			<!-- TODO: ratings and categories -->
		</div>

		<aside class="four wide middle aligned column">
			<form class="ui form" action="/download/{{ Plugin.RepositoryId }}" method="post">
				<div class="field">
					<select name="DownloadType">
						{% if Plugin.RepositoryVersion == true %}
							<optgroup label="Latest release">
								{% set Release = Downloads[1] %}
								<option value="{{ Release.Hyperlink }}">{{ Release.Name }} ({{ Release.Tag }})</option>
							</optgroup>
						{% endif %}

						<optgroup label="Latest commit">
							{% set Head = Downloads|first %}
							<option value="{{ Head.Hyperlink }}">{{ Head.Name }} ({{ Head.Tag }})</option>
						</optgroup>

						{% if Plugin.RepositoryVersion == true %}
							<optgroup label="Other releases">
								{% for Download in Downloads|slice(2) %}
								<option value="{{ Download.Hyperlink }}">{{ Download.Name }} ({{ Download.Tag }})</option>
								{% endfor %}
							</optgroup>
						{% endif %}
					</select>
				</div>

				<button class="ui primary fluid labeled icon button" name="Download" type="submit">
					<i class="download icon"></i>
					Download
				</button>
			</form>

			<!-- TODO: comment, rate, favourite, report buttons. -->
		</aside>
	</header>

	{% if Plugin.Screenshots is not empty %}
		<link rel="stylesheet" href="/Stylesheets/Slideshow.css">

		<div class="slideshow" data-transition="fade">
			{% for Screenshot in Plugin.Screenshots %}
				<input name="slideshow" type="radio" id="slideshow-item-{{ loop.index }}" class="slideshow--bullet" {{ (loop.index0 == 0) ? 'checked="checked"' : '' }} />
				<div class="slideshow--item">
					<img src="{{ Screenshot['download_url'] }}" alt="Screenshot {{ loop.index }}" title="{{ Screenshot['name'] }}" />

					{% set PreviousID = ((((loop.index0 - 1) % loop.length) + loop.length) % loop.length) + 1 %}
					<label for="slideshow-item-{{ PreviousID }}" class="slideshow--nav slideshow--nav-previous">Go to slide {{ PreviousID }}</label>

					{% set NextID = ((((loop.index0 + 1) % loop.length) + loop.length) % loop.length) + 1 %}
					<label for="slideshow-item-{{ NextID }}" class="slideshow--nav slideshow--nav-next">Go to slide {{ NextID }}</label>
				</div>
			{% endfor %}
		</div>
	{% endif %}
</article>