<header>
	<h1>
		<a href="/">
			<img
				src="https://raw.githubusercontent.com/cuberite/cuberite/master/src/Resources/icon_256.png"
				alt="Cuberite Logo"
			/>
		</a>

		<span>Plugin Repository</span>
	</h1>

	<div class="profileheader">			
		{% if LoginDetails.LoggedIn %}
			<img src="{{ LoginDetails.User.avatar_url }}" class="profileimage" alt="Avatar of {{ LoginDetails.User.name }}" />
			<strong>{{ LoginDetails.User.name }}</strong>
			<br />
			<a href="https://github.com/settings/profile">Manage account</a>
			<br />
			<a href="/login?logout=1">Logout</a>
		{% else %}
			<a href="/login?{{ LoginDetails.LoginRedirectURL }}">
				<img src="https://www.gravatar.com/avatar/?d=mm" class="profileimage" alt="Generic avatar" title="Log in" />
			</a>
		{% endif %}
	</div>

	<div class="search">
		<form action="/search" method="post">
			<input required placeholder="Search by ID, title, or author" size="25" type="text" name="Query" />

			<select name="Method">
				<option value="RepositoryID">Unique ID</option>
				<option selected value="PluginName">Title</option>
				<option value="AuthorName">Author</option>
			</select>

			<input type="submit" name="Search" value="Search" />
		</form>
	</div>

	<nav>
		<a href="/">
			<img src="/images/home.svg" alt="Home button" class="home" title="Home" />
		</a>

		<a href="/add">
			<img src="/images/addnew.svg" alt="Add new entry button" class="addnew" title="Add a new entry" />
		</a>
	</nav>
</header>