<nav class="ui inverted cuberite-theme cuberite-navigation menu">
	<div class="ui container" id="cuberite-navigation-container">
		<a href="{{ constant('WebURI::Home') }}" class="header item">
			<img
				src="https://raw.githubusercontent.com/cuberite/cuberite/master/src/Resources/icon_48.png"
				style="margin-right: 1.5em"
				alt="Cuberite Logo"
				class="logo"
			/>
			<p>Plugin Repository</p>
		</a>

		{% if LoginDetails.LoggedIn %}
			<a href="{{ constant('WebURI::Add') }}" class="{{ ActiveItems[0] }} item">
				<i class="ui plus icon"></i>
				Add a new entry
			</a>
		{% endif %}

		{% include 'Modules/Global Search.html' with {'placeholder': 'Search for plugins'} %}

		{% if LoginDetails.LoggedIn %}
			<div class="right menu" id="cuberite-navigation-login-items">
				<a href="{{ constant('WebURI::Logout') }}" class="item">
					<img
						src="{{ LoginDetails.User.AvatarHyperlink }}"
						class="ui right spaced avatar image"
						alt="Avatar of {{ LoginDetails.User.DisplayName }}"
					/>
					<strong>{{ LoginDetails.User.DisplayName }}</strong>
				</a>
			</div>
		{% else %}
			<a
				class="right item"
				href="{{ constant('WebURI::Login') }}?{{ LoginDetails.LoginRedirectURL }}"
			>
				<img
					src="/images/avatar.jpg"
					class="ui right spaced avatar image"
					alt="Generic avatar"
					title="Log in"
				/>
				<span>Log in via GitHub</span>
			</a>
		{% endif %}
	</div>
</nav>