{% extends "Bases/Base.html" %}

{% block MainContent %}
{% if Plugins|length == 0 %}

<main class="ui middle aligned center aligned  grid container" id="cuberite-main-container">
	<div class="column">
		<h2 class="ui icon header">
			<img class="ui large icon" src="images/empty.svg" alt="Empty results" />
			<span class="content">
				Nothing to see here…
				<span class="sub header">Your query returned no results. Try broadening it?</span>
			</span>
		</h2>
	</div>
</main>

{% else %}

<main class="ui grid container" id="cuberite-main-container">
	<div class="column">

		<div class="ui hidden divider"></div>

		<div class="ui link cards">
			{% for Plugin in Plugins %}
				{% include 'Modules/Condensed Plugin.html' %}
			{% endfor %}
		</div>
	</div>
</main>

{% endif %}
{% endblock %}