{% extends "Bases/Base.html" %}

{% block MainContent %}
{% if Plugins|length == 0 %}

<main class="ui middle aligned center aligned grid container" id="cuberite-main-container">
	<div class="column">
		<h2 class="ui icon header">
			<img class="ui large icon" src="images/empty.svg" alt="Empty results" />
			<span class="content">
				Nothing to see here…
				<span class="sub header">Your query returned no results. Try broadening it?</span>
			</span>
		</h2>
	</div>
</main>

{% else %}

<main class="ui container" id="cuberite-main-container">
	<div class="ui hidden divider"></div>

	<div class="ui link cards">
		{% for Plugin in Plugins %}
			<a class="cuberite-condensed-plugin card" style="animation-duration: {{ random(100, 1000) }}ms" href="{{ constant('WebURI::Show') }}/{{ Plugin.RepositoryId }}">
				{% include 'Modules/Condensed Plugin/Figure.html' %}
				{% include 'Modules/Condensed Plugin/Extra.html' %}
			</a>
		{% endfor %}
	</div>
</main>

{% endif %}
{% endblock %}