{% extends "Bases/Base.html" %}

{% block MainContent %}

<main class="ui text container" id="cuberite-main-container">
	<h2>Copyright</h2>

	<h3>Plugin Copyright</h3>

	<p>Plugins hosted on this site are the intellectual property of their respective authors. The maintainers of this site make an effort to ensure that all plugins hosted on this site are licensed such that they may be downloaded, used and redistributed freely by any user of this site.</p>

	<p>Rights other than these, including (but not limited to) modification and sale, may be restricted by the authors of plugins made available on this site.</p>

	<p>
		If you wish to report a copyright issue with any plugin on this site, please contact the administrators immediately. The best way to do so is to
		<a href="https://github.com/cuberite/plugin-repository/issues/new"> file a GitHub issue</a>.
	</p>

	<h3>Repository Copyright</h3>

	<p>
		Cuberite Plugin Repository itself is public domain software, however it is distributed alongside and contains some non-public domain components. Full information regarding the copyright of Cuberite Plugin Repository is available
		<a href="https://github.com/cuberite/plugin-repository/blob/master/LICENSE.md"> in the GitHub repository</a>.
	</p>
</main>

{% endblock %}