{% extends "Bases/Base.html" %}

{% block MainContent %}

<main class="ui container" id="cuberite-main-container">
	<div class="ui hidden divider"></div>

	<article class="ui cuberite-expanded-plugin two column stackable grid">
		<header class="row">
			<div class="twelve wide column">
				{% include 'Modules/Expanded Plugin/Header.html' %}
				{% include 'Modules/Expanded Plugin/Navigation.html' %}
			</div>

			{% include 'Modules/Expanded Plugin/Aside.html' %}
		</header>

		{% include 'Modules/Expanded Plugin/Screenshots.html' %}
	</article>

	<div class="ui hidden divider"></div>

	{# Parsedown converts this to HTML - output as-is #}
	{# TODO: maybe make a Twig filter to Parsedown-ify for us? #}
	<article class="ui cuberite-expanded-plugin raised padded segment">
		{{ Plugin.Readme|raw }}
	</article>

	<div class="ui hidden divider"></div>

	<section class="ui cuberite-expanded-plugin text container">
		<article class="ui comments">
			{% for Comment in Comments %}
				{% include 'Modules/Comment.html' %}
			{% endfor %}

			{% if LoginDetails.LoggedIn %}
				{% include 'Modules/Reply.html' %}
			{% endif %}
		</article>
	</section>
</main>

{% endblock %}