{% extends "Bases/Base.html" %}

{% block MainContent %}

<main class="ui container" id="cuberite-main-container">
	<div class="ui hidden divider"></div>

	{% include 'Modules/Expanded Plugin.html' %}

	<div class="ui hidden divider"></div>

	{# Parsedown converts this to HTML - output as-is #}
	{# TODO: maybe make a Twig filter to Parsedown-ify for us? #}
	<article class="ui cuberite-expanded-plugin raised padded segment">
		{{ Plugin.Readme|raw }}
	</article>

	<div class="ui hidden divider"></div>

	<section class="ui cuberite-expanded-plugin text container">
		<article class="ui comments">
			{% for StaticCommentPath in StaticCommentPaths %}
			{{ source(StaticCommentPath) }}
			{% endfor %}

			{% if LoginDetails.LoggedIn %}
			<form class="ui reply form" action="/comment/{{ Plugin.RepositoryId }}" method="post">
				<textarea required="required" class="field" placeholder="Comment on this plugin..." name="Comment"></textarea>
				<button class="ui labeled icon button" name="Submit" type="submit">
					<i class="edit icon"></i>
					Submit comment
				</button>
			</form>
			{% endif %}
		</article>
	</section>
</main>

{% endblock %}