<aside class="four wide middle aligned column">
	<form class="ui form" action="/download/{{ Plugin.RepositoryId }}" method="post">
		<div class="field">
			<select name="DownloadType">
				{% if Plugin.RepositoryVersion == true %}
					<optgroup label="Latest release">
						{% set Release = Downloads[1] %}
						<option value="{{ Release.Hyperlink }}">{{ Release.Name }} ({{ Release.Tag }})</option>
					</optgroup>
				{% endif %}

				<optgroup label="Latest commit">
					{% set Head = Downloads|first %}
					<option value="{{ Head.Hyperlink }}">{{ Head.Name }} ({{ Head.Tag }})</option>
				</optgroup>

				{% if Plugin.RepositoryVersion == true %}
					<optgroup label="Other releases">
						{% for Download in Downloads|slice(2) %}
						<option value="{{ Download.Hyperlink }}">{{ Download.Name }} ({{ Download.Tag }})</option>
						{% endfor %}
					</optgroup>
				{% endif %}
			</select>
		</div>

		<button class="ui primary fluid labeled icon button" name="Download" type="submit">
			<i class="download icon"></i>
			Download
		</button>
	</form>

	<!-- TODO: comment, rate, favourite, report buttons. -->
</aside>